.loginsignup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginsignup-container{
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 580px;
    height: 450px;
    background: azure;
    margin: auto;
    padding: 40px 60px;
}

.loginsignup-container h1{
    margin: 20px 0px;
    align-items: center;
    color: #00688b;
}

.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-top: 30px;
}

.loginsignup-fields input{
    height: 50px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.loginsignup-container button{
    width: 200px;
    height: 42px;
    color: white;
    background: #00688b;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
}

.loginsignup-login{
    margin-top: 20px;
    color: 5c5c5c;
    font-size: 15px;
    font-weight: 500;
}

.loginsignup-login span{
    color: #00688b;
    font-weight: 600;
}