.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #00688b;
}

.navbar-logo img{
    width: 200px;
}

.cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-left: -35px;
    border-radius: 11px;
    font-size: 14px;
    background: white;
    color: #00688b;
}

/* .navbar-logo img:hover{
    cursor: pointer;
    transform: scale(1.2);
} */

.navbar-icons {
    display: flex; 
}

.navbar-icons img {
    margin-right: 30px;
}

.navbar-icons img:hover {
    cursor: pointer;
    transform: scale(1.2);
}